<!DOCTYPE html>
<html ng-app="simonSaysApp">
<head>
	<title>Simon Says</title>

	<link rel="stylesheet" type="text/css" href="css/simonSays.css" />

	<!--<script src="https://code.angularjs.org/1.3.9/angular.min.js"></script>-->
	 <script src="js/angular.min.1.3.9.js"></script>

</head>
<body>

<div ng-controller="control as ctrl">

	<h1>Simon Says</h1>
	<div class="wrap" style="position: relative;">

		<!-- Clickable Version -->
		<div class="square yellow dim" ng-class="{'lit' : ctrl.yellow }" ng-click="ctrl.yourTurn(ctrl.colors.yellow)"></div>

		<div class="square green dim" ng-class="{'lit' : ctrl.green }" ng-click="ctrl.yourTurn(ctrl.colors.green)"></div>

		<div class="square blue dim" ng-class="{'lit' : ctrl.blue }" ng-click="ctrl.yourTurn(ctrl.colors.blue)"></div>

		<div class="square red dim" ng-class="{'lit' : ctrl.red }" ng-click="ctrl.yourTurn(ctrl.colors.red)"></div>

		<div style="height: 100%; width:100%; position: absolute; top:0; left: 0;" ng-show="ctrl.isDisabled">Simons Turn</div>



	</div>

	<div class="simonsTurn">
		
		<h1>Simon's Turn</h1>

		<p>List moves here</p>

		<button ng-hide="ctrl.startBtn" ng-click="ctrl.simonsTurn()">Start Game</button>

	</div>

	<div class="yourTurn">
		
		<h1>Your Turn</h1>
		<p>Compare Moves</p>

	</div>

<h1>Choices</h1>
<div ng-repeat="Smove in ctrl.simonMoves.move">
<p>{{ ctrl.Smove }}</p>

</div>


</div><!-- close ctrl -->

	<script src="js/simonSays.js"></script>
</body>
</html>